@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&family=Sacramento&display=swap');

.nav {
  top: 0;
  position: sticky;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color:#F6ECF5 ;
  height: 30vh;
  align-items:flex-start;
  
}
.nav > span {
  color: #666666;
  margin-left: 2%;
  font-size: xx-large;
  font-family: Dancing Script;
  margin-top: 100px;

}

#logo {
    font-family: Sacramento;
  color: #B67332;
  font-size: 80px;
}

.links {
  width: 50%;
  margin-right: 20%;
  display: flex;
  justify-content: space-around;
  margin-top: 150px;

}

.link {
  color: #999999;
  text-decoration: none;
  
}

.link:hover {
  color: #333333;
}