.display{
    display: flex;
/* margin-left: 5%; */
justify-content: space-around;  
height: 900px;
  flex-wrap: wrap;
}
/* .display :hover{
    box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.1);
    transform: scale(1.10, 1.10);
} */

